root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4

[*.{h,hpp,cpp,hlsl,hlsli}]
indent_style = space
indent_size = 4

[*.{cmake,json}]
indent_style = space
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 4
